.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.3rem 1rem;
}
.navbarBrand {
    font-weight: 900;
    display: flex;
    align-items: center;
}
.iconStyle {
    color: var(--green);
    font-size: 1.5rem;
    margin: 0 0.4rem;
}
.navbarInfoWapper {
    width: 100%;
}
.navbarInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
}
.navLink {
    display: flex;
    justify-content: space-between;
    width: 90% !important;
}