.productCard {
    height: 100%;
    margin-top: 0.5rem;
}
.productInfo {
    padding: 0.5rem 0.7rem;
}
.prosuctImg img{
    width: 30rem !important;
    height: 15rem !important;
}             
.productName h2{
    font-size: 1rem;
}                  
.productPrice {
    margin: 0.8rem 0;
}
.productBtn button{
    background-color: #004225;
    text-align: center;
    width: 100%;
    height: 2rem;
    color: #fff;
    border-radius: 0.5rem;
}